body
{
  /* background-color: #6d85a3; */
  font-family: 'Lato', sans-serif;

  background: rgb(109,133,163);
  background: linear-gradient(311deg, rgba(109,133,163,1) 23%, rgba(238,237,237,1) 74%);
}

#container
{
  /* background-color: green; */
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right:auto;
  margin-top: 50px;
  margin-bottom: 105px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-flow: wrap;
}

/** TOP BAR **/
.top_bar
{
  border: solid 4px rgba(238,237,237,1);
  background: #406a8a;
  padding: 7px 20px;
  text-align: center;
  color: rgba(238,237,237,1);
  opacity: 85%;
  border-radius: 10px;
  width: 970px;
}

.top_bar:hover
{
  border-radius: 10px;
  border: solid 4px #9dacbf;
  color: #9dacbf;
}


/** CONTENT **/

#content
{
  border: solid 4px rgba(238,237,237,1);
  border-radius: 10px;
  background-color: #406a8a;
  padding: 10px 0px;
  margin-top: 10px;
  color: #1c1b1b;
  opacity: 85%;

  display: flex;
  flex-direction: column;
  align-items: center;
}


#leftC
{
  padding: 10px 20px;
  width: 480px;
  height: 600px;
  /* background-color: #c47e16; */

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-flow: wrap;
}


.tile
{
border-radius: 10px;
border: solid 4px rgba(238,237,237,1);
width: 180px;
height: 140px;
margin: 20px;
padding-top: 17px;
color: rgba(238,237,237,1);

font-size: 20;
text-align: center;
font-weight: bolder;

display: flex;
align-items: center;
align-content: center;
flex-direction: column;
}

.tile:hover
{
  border-radius: 10px;
  border: solid 4px #9dacbf;
  color: #9dacbf;
}

a:tilelink
{
  color: rgba(238,237,237,1);
  text-decoration: none;
}


.box_quote
{
  /* border-radius: 10px;
  border: solid 4px rgba(238,237,237,1); */
  width: 400px;
  height: 120px;
  margin: 20px;
  color: rgba(238,237,237,1);
  padding-top: 12px;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  font-weight: bold;
  line-height: 140%;

}




#rightC
{
  /* background-color: red; */
  padding: 10px 20px;
  width: 480px;
  height: 600px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.tile_rightC
{
  /* border-radius: 10px;
  border: solid 4px rgba(238,237,237,1); */
  width: auto;
  height: auto;
  margin: 20px;
  padding: 17px;
  color: rgba(238,237,237,1);

  font-size: 23;
  text-align: justify;
  font-weight: bolder;
  line-height: 130%;

  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

/** FOOTER **/

#footer
{
  margin-top: 10px;
  padding: 5px;
  width: 960px;
  text-align: center;
  font-size: 14px;
  font-style:  italic;
  color: rgba(238,237,237,1);
}

@media (min-width: 760px)
{
 #content
 {
   flex-direction: row;
 }


}
