body
{
  background-color: #6d85a3;
  font-family: 'Lato', sans-serif;
}


#container
{
  /* background-color: #9dacbf; */
  width: 1000px;
  height: 1000px;
  margin-left: auto;
  margin-right:auto;
  margin-top: 30px;
}

.img_jordan
{
  height: 300px;
  width: 250px;
}


/** TOP BAR **/
#top_bar
{
  background-color: #306a8a;
  color: white;
}

.logo
{
  font-size: 40px;
  padding: 15px 30px;;
  text-align: right;
}

.navigation
{
  margin-top: 10px;
  padding: 10px 40px;
}

.option
{
  float: left;
  padding: 0 10px;
  min-width: 50px;
  height: 25px;
  font-size: 16px;
  text-align: center;
}

.option:hover
{
  background-color: #9dacbf;
  pointer-events: visiblePainted;
}

/** CONTENT **/

#content
{
  background-color: #306a8a;
  height: 540px;
  padding: 10px 0px;
  margin-top: 10px;
  color: #1c1b1b;
}

.leftC
{
  float: left;
  padding: 10px 20px;
  margin: 10px 40px;
  width: 460px;
  height: 460px;
  text-align: justify;
  background-color: #9dacbf;

}

.rightC
{
  float: left;
  margin: 10px 20px;
  width: 400px;
  height: 500px;
  /* background-color: red; */
  text-align: center;
}

/** FOOTER **/

#footer
{
  margin-top: 10px;
  padding: 5px;
  text-align: center;
  font-size: 12px;
  background-color:#306a8a;
  clear: both;
  color: white;
  width: 230px;
  margin-left: 770px;
}
